.input{
    width: 400px;
    margin: 0 auto;
    font-family: Lato;
    font-size: 1.4em;
    
    input{    
      width: 400px;
      height: 80px;  
      margin-top: 50px;
      font-family: Lato;
      font-size: 1.8em;    
      background-color: transparent;
      border: none;
      border-top: 3px solid #4EA5D9;    
      border-bottom: 3px solid #4EA5D9;
      outline: none;
      color: #4EA5D9;
      padding-left: 10px;  
      
      &:focus + label{
        top: -130px;
        font-size: 1.2em;
        transition: all .3s;
        
      }
      
    }
    
    label{
      display: block;
      position: relative;
      left: 10px;
      top: -70px;
      font-size: 1.8em;
      cursor: text;
      color: #44CFCB;    
      transition: all .3s; 
         
    }
  }