.buttonPrimary {
    color: #4EA5D9 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 10px;
    border: 2px solid #4EA5D9 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.buttonPrimary:hover {
    cursor: pointer;
    color: #44CFCB !important;
    border-radius: 50px;
    border-color: #44CFCB !important;
    transition: all 0.3s ease 0s;

    & {
        color: white
    }
}

.removeBook {
    color: #4EA5D9 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 8px;
    border: 2px solid #4EA5D9 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    outline: none;
    font-size: 10px;
    margin-top: -10px;
  

}

.removeBook:hover {
    cursor: pointer;
    color: #df2525 !important;
    border-radius: 50px;
    text-decoration: line-through;
    border-color: #df2525 !important;
    transition: all 0.3s ease 0s;

    & {
        color: white
    }
}