.container {
    display:flex;
    justify-content: space-between;
    margin:20px;
    font-size:20px;
    font-family: Lato;
}

.bookImage {
    width:40px;
    margin-top:-5px;
    margin-bottom:-10px;
    margin-left:10px;

}
