.container {
  display:flex;
  justify-content: center;
  flex-wrap: wrap
}

.books {
    padding:15px;
  width: 150px;;
  -webkit-box-shadow: 7px 11px 19px -15px rgba(0,0,0,0.76);
  -moz-box-shadow: 7px 11px 19px -15px rgba(0,0,0,0.76);
  box-shadow: 7px 11px 19px -15px rgba(0,0,0,0.76);
 
}

